--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchaudio==2.2.2+cpu
librosa
soundfile
scikit-learn
numpy
pandas
matplotlib
ultralytics
geopandas
shapely
pyogrio
streamlit
requests
joblib
opencv-python-headless
